<h1>All the Tasks</h1>


<% @tasks.each do |task| %>
  Description:
  <h4><%= link_to task.description, task_path(task.id)%> - <%= task.project.name %> </h4>

  <p>
     <h4><strong>Schedule:</strong>
    <%= task.schedule %></h4>
  </p>

  <div>
  <h4> Completion Status: <%= task.completion_status %></h4>
  </div>

   <% end %>
   


