<div class "title-container">
<h1> Welcome <%= "#{@user.username}" %></h1> 
</div>

<p> Projects and Tasks created by <%=@user.username%> </p>
</div>
<p><u>project</u></p>
 <ol type =1 >
  <% @user.projects.each do |project|%>
  <li> <%= link_to project.name, my_projects_path%> </li>
  <% end %>
  </ol>
</div>
<div>
<p><u>Tasks</u></p>

<ol type =1 >
  <% @user.tasks.each do |task|%>
  <li> <%= link_to task.description, task_path(task)%> </li>
  <% end %>
</ol>
</div>