<div class="title-container">
  <h1>All the Projects</h1>
</div>

<div class="projects">
  <% @projects.each do |project| %>
  <div class="project">
  <p><strong>Name: </strong><%= link_to project.name, project_path(project.id)%> </p>
  
<div>
<p><strong> Completion Status: </strong> <%= project.completion_status %></p>
</div>

<div>
  <p><strong>By: </strong><%=link_to project.user.username, user_path(project.user) %> </></p>
</div>

<div>
  <%= link_to 'Show', project_path(project), class: "btn btn-info" %>
</div>

</li>
</ol>

  <br>
   <% end %>
   






